apiVersion: apps/v1
kind: Deployment
metadata:
  name: clusterbulb
  namespace: clusterbulb-monitor
  labels:
    app: clusterbulb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: clusterbulb
  template:
    metadata:
      labels:
        app: clusterbulb
    spec:
      serviceAccountName: clusterbulb-monitor-sa
      securityContext:
        fsGroup: 1000
        runAsUser: 1000
        runAsGroup: 1000
      containers:
        - name: clusterbulb
          image: ghcr.io/clustershed/go-clusterbulb:v0.0.9
          env:
          - name: HA_TOKEN
            valueFrom:
              secretKeyRef:
                name: clusterbulb-secrets
                key: ha-token
          - name: HA_URL
            value: "http://home-assistant.home-assistant.svc.cluster.local:8123"  # adjust to your HA URL
          - name: HA_LIGHT_ENTITY_ID
            value: "light.cync_full_color_a19"  # adjust to your light entity
          - name: HA_LIGHT_BRIGHTNESS
            value: "2"
          - name: GH_OWNER
            value: "cmayen"
          - name: GH_REPO
            value: "myrmidon-k3s-2602"
          - name: GH_TOKEN
            valueFrom:
              secretKeyRef:
                name: clusterbulb-secrets
                key: gh-token
          - name: GH_PR_CHECK_INTERVAL
            value: "300"
          - name: NTFY_URL
            value: "http://ntfy.myrmidon-k3s"
          - name: NTFY_TOPIC
            value: "myrmidon-k3s-2602"
          resources:
            requests:
              cpu: "27.5m"
              memory: "12Mi"
            limits:
              cpu: "35m"
              memory: "16Mi"
          securityContext:
            allowPrivilegeEscalation: false
